@import 'normalize'
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
@import 'utils/typography'
@import 'utils/tooltip'
@import 'utils/breakpoints'


//===================
// GENERAL
//===================
*
    margin: 0
    padding: 0
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    box-sizing: border-box

$gray: #4c4a4a
$dark-pink: #cf4c95
$light-pink: #ed68b1

#about,
#projects,
#skills,
#contact
    &:target
        &::before
            display: block
            height: 7.2rem
            margin: -7.2rem 0 0
            content: ''


@import 'components/navigation'
@import 'components/modal'
@import 'components/backdrop'
@import 'components/drawer'
@import 'components/landing'
@import 'components/about'
@import 'components/projects'
@import 'components/demo'
@import 'components/carousel'
@import 'components/skills'
@import 'components/charts'
@import 'components/contact'
@import 'components/footer'
