//===================
// About
//===================

#about
    max-width: 60rem
    margin: 0 auto
    padding: 0 2.4rem

.about__title
    margin-bottom: 3.6rem
    h1
        margin: 0 0 1.2rem
        text-align: right
        font-weight: 300
        color: $light-pink
        letter-spacing: 2px
        font-size: ms(3)
        text-transform: uppercase
        position: relative
        span
            color: rgba(0, 0, 0, 0.54)
        &::after
            content: 'A'
            position: absolute
            top: -3.6rem
            color: #f1f1f1
            font-weight: 900
            font-size: ms(8)
            right: 0
            z-index: -1

.about__intro
    width: 80%

.about__intro--hey
    margin: 0 0 2.4rem

.about__intro--do
    font-size: ms(4)
    line-height: 3.6rem
    margin-bottom: 2.4rem
    font-weight: 100
    span
        font-weight: 500

.about__intro--contact
    font-size: ms(4)
    line-height: 3.6rem
    margin-bottom: 9.6rem
    font-weight: 100
    span
        font-weight: 500
    a
        cursor: pointer
        text-decoration: none
        color: $light-pink
        border-bottom: 3px solid $light-pink
        transition: all 0.25s ease-in-out
        &:hover
            color: $dark-pink
            border-color: $dark-pink
