//===================
// About
//===================

.about
    max-width: 60rem
    margin: 0 auto
    padding: 7.2rem 2.4rem 0

.about__title
    h1
        margin: 0 0 1.2rem
        text-align: center
        font-weight: 300
        color: $light-pink

.about__intro
    width: 80%
    color: #aaa
    line-height: 2.4rem
    margin: 0 auto

.about__intro--picture
    width: 7.2rem
    height: 7.2rem
    background-color: #aaa
    border-radius: 6px
    background-image: url('http://i67.tinypic.com/nc1ahd.jpg')
    background-size: cover
    border: 5px solid #f5f5f5
    margin: 0 auto
    margin-bottom: 1.2rem
