//===================
// BACKDROP
//===================

.backdrop__fixed
    opacity: 0
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: rgba(33,33,33,1.0)
    // Fade out hack.
    transition: visibility 0s linear 0.5s, opacity 0.45s
    visibility: hidden
    z-index: 100
input[id=backdrop]
    display: none
    &:checked
        + .backdrop__fixed
            opacity: 0.48
            visibility: visible
            transition-delay: 0s
        ~ .container .drawer
            transform: translateX(0)
            box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2),0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12)
