//===================
// CAROUSEL
//===================

.project__content--carousel
    position: relative
    width: 100%

    input[type="radio"]
        display: none

        &:checked
            + .carousel__item
                display: flex

    input[type="radio"]:nth-of-type(1):checked ~ .carousel__controls .carousel__control--one,
    input[type="radio"]:nth-of-type(2):checked ~ .carousel__controls .carousel__control--two,
    input[type="radio"]:nth-of-type(3):checked ~ .carousel__controls .carousel__control--three,
    input[type="radio"]:nth-of-type(4):checked ~ .carousel__controls .carousel__control--four
        display: block

    input[type="radio"]:nth-of-type(1):checked ~ .carousel__indicators label:nth-child(1),
    input[type="radio"]:nth-of-type(2):checked ~ .carousel__indicators label:nth-child(2),
    input[type="radio"]:nth-of-type(3):checked ~ .carousel__indicators label:nth-child(3),
    input[type="radio"]:nth-of-type(4):checked ~ .carousel__indicators label:nth-child(4)
        color: $light-pink

.carousel__item
    display: none
    align-items: center
    justify-content: center
    width: 100%
    // Needed for height consistency
    height: 20rem
    max-height: 20rem
    @include tablet
        height: 25rem
        max-height: 25rem

.carousel__item--screenshot
    img
        display: block
        max-width: 90%
        max-height: 20rem
        margin: 0 auto
        border: 2px solid #e5e5e5
        border-radius: 3px
        @include mobile
            max-width: 100%
        @include tablet
            max-height: 25rem

.carousel__item--caption
    color: rgba(0, 0, 0, 0.54)

.carousel__control
    display: none
    position: absolute
    top: 50%
    color: $light-pink
    font-size: 1.2rem
    cursor: pointer

.carousel__control--prev
    left: 5%

.carousel__control--next
    right: 5%

.carousel__indicators
    width: 100%
    margin: 1.2rem auto
    color: #b4b4b3
    font-size: ms(-1)
    text-align: center
    user-select: none

    label
        margin-left: 0.3rem
        transition: color 0.2s ease-in
        cursor: pointer

        &:nth-child(1)
            margin-left: 0
