//===================
// CHARTS
//===================

.skills__graphs--linear
    color: #fff
    display: flex
    width: 85%
    font-weight: 700
    @include tablet
        width: 70%
    height: 1.8rem
    margin: 0 auto 3.6rem

.linear__frontend
    padding-left: 0.6rem
    display: flex
    align-items: center
    justify-content: flex-start
    width: 70%
    background-color: #b39ddb
    border-top-left-radius: 3px
    border-bottom-left-radius: 3px

.linear__backend
    padding-right: 0.6rem
    display: flex
    align-items: center
    justify-content: flex-end
    width: 30%
    background-color: #ef9a9a
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px


.skills__graphs--bar
    width: 80%
    height: 100%
    margin: 6rem auto 0
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.bar__container
    margin: 0 auto 9.6rem
    max-width: 28rem
    width: 100%
    height: 250px
    display: flex
    font-size: 14px
    position: relative
    @include tablet
        width: 50%
    &::before
        position: absolute
        top: -3rem
        left: 20px
        text-align: center
        width: 100%
        font-weight: 500

.bar__container.-frontend
    @include tablet
        padding-right: 1.2rem
    &::before
        content: 'Frontend Development'
        color: #b39ddb

.bar__container.-backend
    @include tablet
        padding-left: 1.2rem
    &::before
        content: 'Backend Development'
        color: #ef9a9a

.bar__container.-other
    &::before
        content: 'Other Skills'
        color: #2c2c2c

.bar__yaxis
    height: 100%

.bar__yaxis--label
    height: 25%
    position: relative
    top: -9px
    left: -5px
    text-align: right
    color: rgba(0, 0, 0, 0.54)

.bar__paper
    position: relative
    display: flex
    flex-grow: 1
    border-bottom: 1px solid silver
    height: 100%

.bar__paper--lines
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.bar__paper--line
    position: relative
    z-index: -1
    height: 25%
    border-top: 1px dashed silver

.bar__paper--plot
    display: flex
    flex-direction: column
    justify-content: flex-end
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43MuQ0AIAwEQVzW9R9cWSAjgXj8bTxaaYVIdsmcIgASwoV05sITufBFJrTQBz10wQhtmKEJK0jhAAIcJ1+v3onXAAAAAElFTkSuQmCC) repeat
    width: 20%
    height: 100%
    margin-right: 0.6rem
    border-radius: 3px

.plot__inner
    border-radius: 3px
    position: relative
    width: 100%
    max-width: 2rem
    margin: 0 auto

.bar__xaxis--label
    position: absolute
    text-align: right
    bottom: - 3.8rem
    left: -60px
    transform: rotate(-60deg)
    width: 100px
    white-space: nowrap

.bar__paper--plot.-frontend
    &:nth-child(2)
        margin-left: 0.6rem
        .plot__inner
            height: 75%
            background-color: #80deea
            border: 1px solid #00bcd4
        .bar__xaxis--label
            color: #00bcd4
    &:nth-child(3)
        .plot__inner
            height: 100%
            background-color: #ffe082
            border: 1px solid #ffc107
        .bar__xaxis--label
            color: #ffc107
    &:nth-child(4)
        .plot__inner
            height: 25%
            background-color: #ce93d8
            border: 1px solid #9c27b0
        .bar__xaxis--label
            color: #9c27b0
    &:nth-child(5)
        .plot__inner
            height: 50%
            background-color: #ef9a9a
            border: 1px solid #f44336
        .bar__xaxis--label
            color: #f44336
    &:nth-child(6)
        .plot__inner
            height: 75%
            background-color: #a5d6a7
            border: 1px solid #4caf50
        .bar__xaxis--label
            color: #4caf50

.bar__paper--plot.-backend
    &:nth-child(2)
        margin-left: 0.6rem
        .plot__inner
            height: 100%
            background-color: #a5d6a7
            border: 1px solid #4caf50
        .bar__xaxis--label
            color: #4caf50
    &:nth-child(3)
        .plot__inner
            height: 25%
            background-color: #ef9a9a
            border: 1px solid #f44336
        .bar__xaxis--label
            color: #f44336
    &:nth-child(4)
        .plot__inner
            height: 50%
            background-color: #ce93d8
            border: 1px solid #9c27b0
        .bar__xaxis--label
            color: #9c27b0
    &:nth-child(5)
        .plot__inner
            height: 50%
            background-color: #ffe082
            border: 1px solid #ffc107
        .bar__xaxis--label
            color: #ffc107
    &:nth-child(6)
        .plot__inner
            height: 25%
            background-color: #80deea
            border: 1px solid #00bcd4
        .bar__xaxis--label
            color: #00bcd4

.bar__container.-other
    .bar__xaxis--label
        width: 200px
        left: -135px
        bottom: -6.4rem

.bar__paper--plot.-other
    &:nth-child(2)
        margin-left: 0.6rem
        .plot__inner
            height: 75%
            background-color: #a5d6a7
            border: 1px solid #4caf50
        .bar__xaxis--label
            color: #4caf50
    &:nth-child(3)
        .plot__inner
            height: 100%
            background-color: #80cbc4
            border: 1px solid #009688
        .bar__xaxis--label
            color: #009688
    &:nth-child(4)
        .plot__inner
            height: 50%
            background-color: #81d4fa
            border: 1px solid #03a9f4
        .bar__xaxis--label
            color: #03a9f4
    &:nth-child(5)
        .plot__inner
            height: 100%
            background-color: #b39ddb
            border: 1px solid #673ab7
        .bar__xaxis--label
            color: #673ab7
    &:nth-child(6)
        .plot__inner
            height: 50%
            background-color: #9fa8da
            border: 1px solid #3f51b5
        .bar__xaxis--label
            color: #3f51b5
