//===================
// FOOTER
//===================

.footer
    border-top: 1px solid rgba(0, 0, 0, 0.14)
    font-size: 14px

.footer__container
    display: flex
    max-width: 60rem
    margin: 0 auto
    padding: 1.2rem
    @include tablet
        padding: 30px 120px

    a
        transition: color 0.25s ease-in
        color: rgba(0, 0, 0, 0.54)
        text-decoration: none

        &:hover
            color: $dark-pink

.footer__social,
.footer__info
    display: flex
    flex-direction: column
    justify-content: space-between

    div:first-child
        span
            padding: 0.2rem
            color: $dark-pink

.footer__social
    flex: 1 0 40%
    @include tablet
        flex: 1 0 50%

    i
        margin-right: 0.6rem
        color: rgba(0, 0, 0, 0.54)
        font-size: 1.4rem
        vertical-align: middle

.footer__info
    flex: 1 0 60%
    align-items: flex-end
    color: rgba(0, 0, 0, 0.87)
    text-align: right
    @include tablet
        flex: 1 0 50%

    span:nth-child(1)
        font-weight: 300

    span:nth-child(2)
        font-weight: 500

.footer__info--source
    padding: 0.6rem 0
