//===================
// LANDING
//===================

#landing
    display: flex
    position: relative
    flex-direction: column
    align-items: center
    justify-content: center
    max-width: 60rem
    height: 100vh
    margin: 0 auto
    padding: 0 2.4rem

.landing__hello
    margin-bottom: 1.2rem
    color: rgba(0, 0, 0, 0.54)
    font-size: ms(-1)
    letter-spacing: 2px

.landing__name
    margin-bottom: 1.2rem
    // padding-left to off-set letter-spacing
    padding-left: 0.6rem
    background: linear-gradient(45deg, #ffc0cb, rgb(247, 170, 255))
    color: rgba(0, 0, 0, 0.54)
    font-family: 'Montserrat Subrayada', sans-serif
    font-size: ms(2)
    font-weight: 900
    letter-spacing: 0.6rem
    text-transform: uppercase
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    @include phablet
        padding-left: 1.2rem
        font-size: ms(3)
        letter-spacing: 1.2rem
    @include tablet
        padding-left: 2.4rem
        font-size: ms(4)
        letter-spacing: 2.4rem

.landing__intro
    color: rgba(0, 0, 0, 0.54)
    font-size: ms(-1)
    letter-spacing: 2px
    text-align: center

.landing__button
    position: absolute
    bottom: 2.4rem
    left: 50%
    width: 100px
    margin-left: -50px
    text-align: center

    a
        color: rgba(0, 0, 0, 0.54)
        text-decoration: none
