//===================
// NAVIGATION
//===================

nav
    width: 100%
    position: fixed
    top: 0
    font-size: ms(0)
    height: 4.8rem
    background-color: #fff
    display: flex
    padding: 0 2.4rem
    border-bottom: 1px solid rgba(0,0,0,0.14)
    z-index: 99
    transition: box-shadow 0.25s ease-in-out
    &.body-is-scrolled
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08)

.nav__user
    display: flex
    align-items: center
    justify-content: center
    flex: 1 0 20%

.nav__user--logo
    user-select: none
    cursor: default
    width: 3rem
    height: 3rem
    background-color: rgba(0,0,0,0.87)
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50px
    color: #fff

.logo__first
    font-size: 20px
.logo__last
    font-size: 12px
    font-weight: 800

.nav__links
    flex: 1 0 50%
    list-style: none
    display: flex
    align-items: center
    li
        display: flex
    a
        margin: 0 1.2rem
        text-decoration: none
        color: rgba(0,0,0,0.54)
        font-weight: 400
        text-transform: uppercase
        font-size: 14px
        transition: color 0.25s
        letter-spacing: 0.025rem
        &.nav-active
            color: $dark-pink
        &:hover
            color: $dark-pink
            &::before
                opacity: 1
                width: 100%
        &::before
            transition-duration: 0.25s
            content: ''
            height: 2px
            width: 0
            background: $dark-pink
            position: relative
            margin-left: auto
            margin-right: auto
            display: block
            opacity: 0
            top: 25px


.nav__search
    display: flex
    flex: 1 0 30%
    justify-content: flex-end

.nav__search--fields
    position: relative
    top: 2rem
    height: 32px
    label
        position: absolute
        transform: translate3d(0,-13px,0) scale(1)
        left: 0
        bottom: 0
        transition: transform 0.25s cubic-bezier(0.25,0.8,0.25,1)
        color: rgba(0,0,0,0.26)
        transform-origin: left top
    input[type=text]
        z-index: 1
        position: relative
        border: 0
        padding-bottom: 2px
        background-color: transparent
        border-bottom: 1px solid rgba(0,0,0,0.12)
        color: rgba(0,0,0,0.87)
        outline: 0
        &:focus
            border-bottom: 2px solid $dark-pink

.nav__search--fields input[type=text]:valid ~ label
    transform: translate3d(0,-30px,0) scale(0.75)

.nav__search--fields input[type=text]:focus ~ label
    color: $dark-pink
    transform: translate3d(0,-30px,0) scale(0.75)

.nav__search--icon
    display: flex
    align-items: center
    margin-left: 0.6rem
    font-size: 1.5rem
    color: rgba(0,0,0,0.54)
    input[type=checkbox]
        display: none
    label
        cursor: pointer
        user-select: none
