//===================
// NAVIGATION
//===================

.nav
    display: flex
    position: fixed
    top: 0
    right: 0
    left: 0
    flex-direction: row
    align-items: flex-start
    height: 4.8rem
    padding: 0 1.2rem
    transition: box-shadow 0.25s ease-in-out
    border-bottom: 1px solid rgba(0, 0, 0, 0.14)
    background-color: #fff
    font-size: ms(0)
    box-shadow: 1px 1px transparent
    z-index: 99

.s .nav
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08)

.nav__user
    position: relative
    top: 1.61875rem
    color: rgba(0, 0, 0, 0.54)
    font-size: ms(1)
    letter-spacing: 0.025rem
    text-decoration: none
    text-transform: uppercase

.nav__user--first
    font-weight: 300

.nav__user--last
    font-weight: 500

.nav__links
    position: relative
    top: 1.8rem
    flex: 1
    text-align: right

    ul
        display: none
        @include tablet
            display: inline-flex
        list-style-type: none

    li
        margin-left: 32px
        font-size: 14px
        text-transform: uppercase

    a
        transition: color 0.25s
        color: rgba(0, 0, 0, 0.54)
        font-weight: 400
        letter-spacing: 0.025rem
        text-decoration: none

        &.nav-active
            color: $dark-pink

        &:hover
            color: $dark-pink

            &::before
                width: 100%
                opacity: 1

        &::before
            display: block
            position: relative
            top: 25px
            width: 0
            height: 2px
            margin-right: auto
            margin-left: auto
            transition-duration: 0.25s
            background: $dark-pink
            content: ''
            opacity: 0

.nav__search
    position: relative
    padding-left: 2.4rem

.nav__search--fields
    display: none
    position: relative
    top: 1.75rem
    height: 32px
    @include desktop
        display: flex

    label
        position: absolute
        bottom: 0
        left: 0
        transform: translate3d(0, -13px, 0) scale(1)
        transform-origin: left top
        transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1)
        color: rgba(0, 0, 0, 0.26)
        font-size: 14px
        text-transform: uppercase

    input

        position: relative
        padding-bottom: 2px
        border: 0
        border-bottom: 1px solid rgba(0, 0, 0, 0.12)
        outline: 0
        background-color: transparent
        color: rgba(0, 0, 0, 0.87)
        z-index: 1

        &:focus
            border-bottom: 2px solid $dark-pink

.nav__search--fields input:valid ~ label
    transform: translate3d(0, -30px, 0) scale(0.75)

.nav__search--fields input:focus ~ label
    transform: translate3d(0, -30px, 0) scale(0.75)
    color: $dark-pink

.nav__icon
    position: relative
    top: 1.525rem
    margin-left: 0.6rem
    color: rgba(0, 0, 0, 0.54)
    font-size: 1.5rem

    input[type="checkbox"]
        display: none

    label
        cursor: pointer
        user-select: none

.nav__hamburger
    position: relative
    top: 1.92375rem
    width: 40px
    transform: translate3d(0, 0, 0)
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98)
    cursor: pointer

    > div
        @include tablet
            display: none

.nav__hamburger--layer
    width: 20px
    height: 2px
    margin-bottom: 5px
    transform: translate3d(0, 0, 0)
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98)
    border-radius: 2px
    background-color: rgba(0, 0, 0, 0.54)
    opacity: 1

.nav__hamburger:hover
    .-top
        transform: translateY(-100%)

    .-bottom
        transform: translateY(100%)
