//===================
// PROJECTS
//===================
#projects
    max-width: 60rem
    margin: 0 auto
    padding: 0 2.4rem

.projects__title
    margin-bottom: 3.6rem
    h1
        margin: 0 0 1.2rem
        text-align: right
        font-weight: 300
        color: $light-pink
        letter-spacing: 2px
        font-size: ms(3)
        text-transform: uppercase
        position: relative
        span
            color: rgba(0, 0, 0, 0.54)
        &::after
            content: 'P'
            position: absolute
            top: -3.6rem
            color: #f1f1f1
            font-weight: 900
            font-size: ms(8)
            right: 0
            z-index: -1


.projects__intro
    width: 70%
    color: rgba(0, 0, 0, 0.54)
    line-height: 2.4rem
    margin: 0 auto 4.8rem
    a
        text-decoration: none
        color: $light-pink
        transition: color 0.25s ease-in-out
        &:hover
            color: $dark-pink

.projects__showcase
    display: flex
    margin-bottom: 9.6rem
    input[type=radio]
        display: none

.projects__showcase--nav
    width: 25%
    ul
        list-style: none
    li
        padding-right: 1.2rem
        margin-bottom: 0.6rem
    label
        display: flex
        align-items: center
        height: 3.6rem
        cursor: pointer
        padding: 1.2rem
        color: rgba(0, 0, 0, 0.54)
        background-color: #fff
        border: 1px solid #e5e5e5
        border-radius: 3px
        transition: all 0.25s ease-in

#project-1:checked ~ .projects__showcase--nav ul li:nth-child(1) label,
#project-2:checked ~ .projects__showcase--nav ul li:nth-child(2) label,
#project-3:checked ~ .projects__showcase--nav ul li:nth-child(3) label,
#project-4:checked ~ .projects__showcase--nav ul li:nth-child(4) label,
#project-5:checked ~ .projects__showcase--nav ul li:nth-child(5) label,
    color: $light-pink
    background-color: #f9f9f9
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    box-shadow: inset 2px 0px $light-pink

.projects__showcase--project
    padding: 1.2rem
    width: 75%
    background-color: #f9f9f9
    border: 1px solid #e5e5e5
    border-radius: 3px
    > div
        display: none

#project-1:checked ~ .projects__showcase--project > div:nth-child(1),
#project-2:checked ~ .projects__showcase--project > div:nth-child(2),
#project-3:checked ~ .projects__showcase--project > div:nth-child(3),
#project-4:checked ~ .projects__showcase--project > div:nth-child(4),
#project-5:checked ~ .projects__showcase--project > div:nth-child(5),
    display: block

.project__content--information
    margin-top: 1.2rem

.information__tech
    color: rgba(0, 0, 0, 0.54)
    span
        color: rgba(0, 0, 0, 0.54)
        font-weight: 700

.information__description
    margin-top: 1.2rem
    line-height: 1.2
    color: rgba(0, 0, 0, 0.54)

.information__links
    margin-top: 1.2rem
    a
        text-decoration: none
        transition: color 0.25s ease-in-out
        &:nth-of-type(1)
            color: $light-pink
            &:hover
                color: $dark-pink
        &:nth-of-type(2)
            color: #9D9D9D
            margin-left: 1.2rem
            &:hover
                color: #636262
        i
            font-size: 1.2rem
            vertical-align: top
            margin-right: 0.3rem
