//===================
// SKILLS
//===================

#skills
    max-width: 60rem
    margin: 0 auto

.skills__title
    margin-bottom: 3.6rem
    padding: 0 1.2rem
    @include tablet
        padding: 0 2.4rem

    h1
        position: relative
        margin: 1.2rem 0
        color: $light-pink
        font-size: ms(3)
        font-weight: 300
        letter-spacing: 2px
        text-align: right
        text-transform: uppercase

        span
            color: rgba(0, 0, 0, 0.54)

        &::after
            position: absolute
            top: -3.6rem
            right: 0
            color: #f1f1f1
            font-size: ms(8)
            font-weight: 900
            content: 'S'
            z-index: -1

.skills__intro
    @include tablet
        width: 80%
    margin: 0 auto 2.4rem

    h1
        font-weight: 700
        text-align: center

.skills__intro--p
    width: 85%
    @include tablet
        width: 60%
    margin: 0 auto
    color: rgba(0, 0, 0, 0.54)
    line-height: 2.4rem
    text-align: center

.skills__graphs
    width: 100%
    margin: 0 auto 3.6rem
