//===================
// SKILLS
//===================

#skills
    max-width: 60rem
    margin: 0 auto
    padding: 0 2.4rem

.skills__title
    margin-bottom: 3.6rem
    h1
        margin: 0 0 1.2rem
        text-align: right
        font-weight: 300
        color: $light-pink
        letter-spacing: 2px
        font-size: ms(3)
        text-transform: uppercase
        span
            color: rgba(0, 0, 0, 0.54)

.skills__intro
    width: 80%
    margin: 0 auto 2.4rem
    h1
        text-align: center
        font-weight: 700

.skills__intro--p
    width: 60%
    margin: 0 auto
    text-align: center
    color: rgba(0, 0, 0, 0.54)
    line-height: 2.4rem

.skills__graphs
    width: 100%
    margin: 0 auto 12rem
