$breakpoints: (
    desktophd: 1200px,
    desktop: 1000px,
    tablet: 750px,
    phablet: 550px,
    mobile: 400px
);

@mixin mq($args...) {
    $media-type: 'only screen';
    $media-type-key: 'media-type';
    $args: keywords($args);
    $expr: '';
    @if map-has-key($args, $media-type-key) {
        $media-type: map-get($args, $media-type-key);
        $args: map-remove($args, $media-type-key);
    }

    @each $key, $value in $args {
        @if $value {
            $expr: '#{$expr} and (#{$key}: #{$value})';
        }
    }

    @media #{$media-type} #{$expr} {
        @content;
    }
}


@mixin desktophd {
    @include mq($min-width: map-get($breakpoints, desktophd)) {
        @content
    }
};

@mixin desktop {
    @include mq($min-width: map-get($breakpoints, desktop)) {
        @content
    }
};

@mixin tablet {
    @include mq($min-width: map-get($breakpoints, tablet)) {
        @content
    }
};


@mixin phablet {
    @include mq($min-width: map-get($breakpoints, phablet)) {
        @content
    }
};

@mixin mobile {
    @include mq($min-width: map-get($breakpoints, mobile)) {
        @content
    }
};
