@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import 'node_modules/typi/scss/typi';
@import 'node_modules/modularscale-sass/stylesheets/modular-scale';


body {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

$ms-base: 1rem;
$ms-ratio: $fourth;

$typi: (
    null: (16px, 1.2)
);

$h1-font-map: (
    null: (ms(2))
);

$h3-font-map: (
    null: (ms(1))
);

html {
    @include typi-base;
}

h1 {
    @include typi($h1-font-map);
}

h3 {
    @include typi($h3-font-map);
}
